.navbar__brand{
  margin-right: 50%;
  font-size: 27px;
  font-weight: 700;
}

.hamburger__icon {
    color: black;
  }
  .login__admin__button{
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 10px ;
    font-weight: 700;
    font-size: 18px;
  }
  
.login__employee__button{
  background-color: #01081E;
  color: white;
  border-radius: 4px;
  padding: 8px 10px ;
  font-weight: 700;
  font-size: 18px;
  border: 1.2px solid white;


}